<template>
    <h1>Componente Noticias</h1>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Título de la tarjeta</h5>
            <h6 class="card-subtitle mb-2 text-muted">Subtítulo de la tarjeta</h6>
            <p class="card-text">Un ejemplo de texto rápido para construir el contenido de la tarjeta.</p>
            <a href="#" class="card-link">Enlace de la tarjeta</a>
            <a href="#" class="card-link">Otro enlace</a>
        </div>
    </div>

    <div class="card-container">
        <div v-for="noticia in noticias" :key=noticia.id>
          <div class="card-body">
            <h3 class="card-tittle">{{noticia.titulo}}</h3>
            <p class="card-text">{{ noticia.descripcion }}</p>
          </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios';

export default (await import('vue')).defineComponent({
    data() {
        return {
            noticias: []
        };
    },
    mounted() {
        this.getNoticias();
    },
    methods: {
        getNoticias() {
            axios.get('/noticias')
                .then(response => {
                    this.noticias = response.data;
                })
                .catch(error => {
                    console.error(error);
                });
        }
    }
});
</script>
